* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #DE8A89;
    overflow-x: hidden;
}

.big-ts {
    margin: 10vh 0 0 15rem;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
}

.area-1 {
    color: white;
    cursor: context-menu;
}

.area-2 {
    color: #ECB9B8;
    margin-left: 2.45rem;
}

.area-2:hover {
    color: #F2CACB;
    cursor: pointer;
}

body .details {
    margin: 1vh 15rem;
    color: #FEFAFA;
    font-weight: 600;
    cursor: context-menu;
}

.leftt {
    width: 6rem;
    height: 6rem;
    background-color: #E9AFB0;
    position: absolute;
    margin-top: 3.01rem;
    margin-left: 8.95rem;
}

.container {
    width: 51rem;
    height: 17rem;
    margin: 8vh 15rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 1px 1px 3px .2px;
    position: relative;
}

.ppt {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ppt:hover {
    background-color: #F1C9CA;
}

.rightt {
    width: 6rem;
    height: 6rem;
    background-color: #E9AFB0;
    position: absolute;
    margin-top: -20.45rem;
    margin-left: 66rem;
}

.cols {
    padding: 6rem 3.5rem;
}

.stri {
    color: #D08E8B;
    font-size: 1.3rem;
    font-weight: 500;
}

.spag {
    color: white;
    font-size: 1.9rem;
    font-weight: 620;
    margin-top: .2rem;
}

.col-1 {
    background-color: #3E3C3D;
}

.col-2 {
    background-color: #353334;
}

.col-3 {
    background-color: #201E1F;
}

.clon {
    width: 15rem;
    height: 3.7rem;
    border-radius: 6px;
    background-color: #131313;
    border: none;
    color: white;
    position: absolute;
    bottom: -30px;
    left: 17px;
    font-size: .9rem;
    font-weight: 600;
    cursor: pointer;
}

.clon:focus {
    outline: none;
}

.clon:hover {
    margin-bottom: .3rem;
    transition: .5s;
}